<!DOCTYPE html>
<html lang="ar"dir="rtl" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
    <!-- font Awsome -->
    <link rel="stylesheet" href="style/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet"></link>

    <title>MainPage</title>
</head>
<body style="background-color:#f1f1f1 ;">
    <div class="header">
        <div class="container">
            <div  class="settings"> 
                <img class='avatar'src="./images/avatar-05.png" alt="">
                <div class="settingsMenu">
                    <div class="settingsheader">
                        <img src="./images/avatar-05.png" alt="">
                        <p>Mohamed Elagamy</p>
                    </div>
                     <ul class="info">
                            <li> <i class="fa-solid fa-gear"></i>الاعدادات</li>
                            <li><i class="fa-solid fa-door-open"></i> تسجبل الخروج</li>
                     </ul>

                </div>
            </div>
            <ul class="main-nav">
                
                <li><a href="/home/mainPage.html" > <i class="fa-solid fa-house-chimney"></i>الرئيسيه</a></li>
                <li> <a href="#"><i class="fa-sharp fa-solid fa-users"></i>مؤلفو الكتب </a></li>
                <li><a href="#"><i class="fa-solid fa-network-wired"></i>اقسام الكتب</a></li>
                <li> 
                    <a href="#" id="test" > <i class="fa-solid fa-bars"></i>القائمه</a>
                    <!-- Start megamanu     -->
                    <div class="menu" id="megaMenu">
                        <ul class="links">
                            <li >
                                <a href="#"><i class="fa-solid fa-network-wired"></i>اقسام الكتب</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa-sharp fa-solid fa-users"></i>مؤلفو الكتب </a>
                            </li>

                            <li>
                                <a href="#"><i class="fa-solid fa-quote-left"></i>اقتباسات</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa-solid fa-star"></i>مراجعات</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa-solid fa-id-card"></i>مجتمع المثقفين</a>
                            </li>
                        </ul>
                     
                    </div>
                    <!-- End megamanu     -->
                    
                </li>
            </ul>
            <a href="#" class="logo">المكتبه</a>
        </div>
    </div>

    <!-- header end --> 

<main style="height: 1300px; ; text-align: right; " class="ssss">

    <div style="height: 100% ;  margin-top: 70px ;
    margin-right:200px ;margin-left:200px;    ">
  
  <h1 style=" font-weight: 400;" >

        pdf تحميل كتب احمد خالد توفيق


    </h1>

    <div style="background-color: white; height: 1100px; margin-top: 35px;
    border-radius: 7px; box-shadow: 0 1px 3px; padding-left: 20px       ;">

    <div style="height: 100%;  width: 13%; float: right; padding-top: 22px;padding-right: 20px; ">
        <img src="image2.png" alt="" width="80%" style="border-radius:50% ;">

    </div>

    <div style="height: 100%;  width: 87%;padding-top: 30px;padding-right: 20px;">

            <h2 style="padding-bottom: 15px;">احمد خالد توفيق</h2>
            <span>  (2,494 تقييمات)</span>
            <i class="far fa-star" style="color: gold;"></i>
            <i class="far fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>

            <div style=" height: 92.4%; margin-top: 20px; ">
                
                <p >
                    له (782) كتاب بالمكتبة, بإجمالي تحميل وقراءة (594,182)
                </p>
                    <br>


                <p style="line-height: 1.5;">
                    أحمد خالد توفيق فراج (10 من يونيو 1962م - 15 من رجب 1439 هـ/ 2 من إبريل 2018م)، مؤلف وروائي وطبيب مصري. يعد أول كاتب عربي في مجال أدب الرعب والأشهر في مجال أدب الشباب والفانتازيا والخيال العلمي ولقب بالعراب.
                </p>
                <br>


                <p style="line-height: 1.5;">
                    بدأت رحلته الأدبية مع كتابة سلسلة ما وراء الطبيعة، ورغم أن أدب الرعب لم يكن سائدًا في ذلك الوقت فإن السلسلة حققت نجاحًا كبيرًا واستقبالًا جيدًا من الجمهور، ما شجعه على استكمالها، وأصدر بعدها سلسلة فانتازيا عام 1995 وسلسلة سفاري عام 1996. في عام 2006 أصدر سلسلة 
                    www
                </p>
                  <br>


                  <p style="line-height: 1.5;">
                    ألف أحمد توفيق روايات حققت نجاحًا جماهيريًا واسعًا، وأشهرها (رواية يوتوبيا) عام 2008 وقد تُرجمت إلى عدة لغات وأعيد نشرها في أعوام لاحقة، وكذلك (رواية السنجة) التي صدرت عام 2012، و(رواية مثل إيكاروس) عام 2015 ثم رواية في ممر الفئران التي صدرت عام 2016 بالإضافة إلى مؤلفات أخرى مثل: "قصاصات قابلة للحرق" و"عقل بلا جسد" و"الآن نفتح الصندوق" التي صدرت على ثلاثة أجزاء.

                  </p>
                  <br>
                
                  <p style="line-height: 1.5;">
                    اشتهر أيضًا بالكتابات الصحفية، فقد انضم عام 2004 إلى مجلة الشباب التي تصدر عن مؤسسة الأهرام، وكذلك كانت له منشورات عبر جريدة التحرير وعديد من المجلات الأخرى. كان له أيضًا نشاط في الترجمة، فنشر سلسلة رجفة الخوف وهي روايات رعب مترجمة، وكذلك ترجم (رواية نادي القتال) الشهيرة من تأليف تشاك بولانيك، وكذلك ترجمة رواية "ديرمافوريا" عام 2010 وترجمة رواية "عداء الطائرة الورقية" عام 2012. استمر نشاطه الأدبي مع مزاولته مهنة الطب، فقد كان عضو هيئة التدريس واستشاري قسم أمراض الباطنة المتوطنة في كلية الطب جامعة طنطا.

                  </p>
                  <br>

                  <p style="line-height: 1.5;">
                    توفي في 2 إبريل من عام 2018 عن عمر يناهز 55 عامًا إثر أزمة صحية مفاجئة.
                </p>
                  <br>

                  <p style="line-height: 1.5;">
                    :حياته
                    <br>
                    ولد بمدينة طنطا في محافظة الغربية. تخرج في كلية الطب في جامعة طنطا عام 1985 وحصل على الدكتوراه في طب المناطق الحارة عام 1997. التحق كعضو هيئة التدريس واستشاري قسم أمراض الباطنة المتوطنة في طب طنطا.
                                      </p>
                  <br>

                  <p style="line-height: 1.5;">
                    :مسيرته
                    <br>
                    بدأ حياته العملية في المؤسسة العربية الحديثة عام 1992 ككاتب رعب لسلسلة ما وراء الطبيعة وقدم أولى رواياته تحت اسم "أسطورة مصاص الدماء"، لكن واجهتها اعتراضات كثيرة داخل المؤسسة العربية الحديثة ما جعله يصاب بإحباط شديد بعد رفض الرواية ونصحه البعض بالكتابة في الأدب البوليسي، إلا أن "أحمد المقدم" أحد مسؤولي المؤسسة العربية الحديثة نصحه باستكمال الكتابة في أدب الرعب وساعده على مقابلة "حمدي مصطفى" مدير المؤسسة الذي عرض قصته على لجنة لاستبيان قوتها، لكن اللجنة انتقدت فكرة الرواية والأسلوب.                </p>
                  <br>
                
                  <p style="line-height: 1.5;">
                    تمسك حمدي مصطفى بعرض القصة على لجنة أخرى، وفوجئ أحمد خالد توفيق برأي اللجنة الثانية ينصف الرواية ويصفها بأنها ذات أسلوب ممتاز، وبها حبكة روائية وإثارة وتشويق> كانت المفاجأة الثانية أن قرار اللجنة موقع من دكتور نبيل فاروق الذي قال عنه توفيق: (لن أنسى لدكتور نبيل فاروق أنه كان سببًا مباشرًا في دخولي المؤسسة، وإلا فإنني كنت سأتوقف عن الكتابة بعد عام على الأكثر).
                </p>
                  <br>

                  <p style="line-height: 1.5;">
                    "لا أعتقد أن هناك كثيرين يريدون معرفة شيء عن المؤلف.. فأنا أعتبر نفسي ـ بلا أي تواضع ـ شخصًا مملًا إلى حد يثير الغيظ.. بالتأكيد لم أشارك في اغتيال (لنكولن) ولم أضع خطة هزيمة المغول في (عين جالوت).. لا أحتفظ بجثة في القبو أحاول تحريكها بالقوى الذهنية ولم ألتهم طفلاً منذ زمن بعيد.. ولطالما تساءلت عن تلك المعجزة التي تجعل إنسانًا ما يشعر بالفخر أو الغرور.. ما الذي يعرفه هذا العبقري عن قوانين الميراث الشرعية؟ هل يمكنه أن يعيد دون خطأ واحد تجربة قطرة الزيت لميليكان؟ هل يمكنه أن يركب دائرة كهربية على التوازي؟ كم جزءًا يحفظ من القرآن؟ ما معلوماته عن قيادة الغواصات؟ هل يستطيع إعراب (قفا نبكِ من ذكرى حبيبٍ ومنزلِ)؟ هل يمكنه أن يكسر ثمرة جوز هند بين ساعده وعضده؟ كم من الوقت يمكنه أن يظل تحت الماء؟ الخلاصة أننا محظوظون لأننا لم نمت خجلًا من زمن من فرط جهلنا وضعفنا".

                </p>
                  <br>

            </div>

           




    </div>
    



    </div>

    </div>


    </div>

</main>

    
    


    <!-- footer Start  -->

    <div class="footer">
        <div class="container">
            <div class="box third">
                <div class="adress">
                    <p> <i class="fa-solid fa-location-dot"></i>كليه الحاسبات و المعلومات جامعه الفيوم</p>
                </div>
                <div class="time">
                    <p>
                        <i class="fa-solid fa-clock"></i>
                        ساعات العمل : من 10:00 الي 18:00 
                        
                    </p>
                </div>
                <div class="phone">
                    <p><i class="fa-solid fa-phone"></i>
                        +20123456789</p>
                </div>
            </div>
            <div class="box Second">
                <ul>
                    <li>اقسام الكتب</li>
                    <li>المؤلفون</li>
                    <li>اقتباسات</li>
                    <li>مراجعات</li>
                    <li>مجتمع المثقفين</li>

                </ul>
            </div>
          
            <div class="box first">
                <h1>المكتبه</h1>
                <div class="social">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <p> مكتبة رقمية للكتب والروايات الإلكترونية العربية والعالمية تحتوي آلاف الكتب والروايات في جميع المجالات
                </p>
            </div>
        </div>
        <p class="rights">
            <i class="fa-solid fa-copyright"></i>
            <span>جامعه الفيوم</span>
        </p>
    </div>
    <!-- footer Ends  -->
</body>
<script src="action.js"></script>

</html>