{% extends 'base_educator_info.html' %}

{% block content %}



<div class="educatorInfo">
    <img src="..//img/avatar-05.png" alt="">
    <h2>Mohammed Hussein</h2>
    <div>
        <div class="row">
            <div class="cell">
                <p style="padding-top:20px;font-size: 19px;">
                    الدولة
                </p>
                <img class="research" style="position: absolute;
    border: 0;
    border-radius: 0;
    width: 74%;
    margin: inherit;
    height: 70%;
    z-index: -2;" src="../img/search (1).png" alt="">
                <div style="display: flex; width:60%;margin:auto;align-items: center;justify-content:center">
                    <img style="width:30%!important;border-radius:0px;border:0px;margin-right:5px;width:30px;padding:0;margin-top:0;"
                        src="..//img/egypt.png" alt="">
                    <h3>مصر</h3>
                </div>
            </div>
            <div class="cell">
                <p style="padding-top:20px;font-size: 19px;">
                    أخر تواجد
                </p>
                <img class="research" style="position: absolute;
    border: 0;
    border-radius: 0;
    width: 74%;
    margin: inherit;
    height: 70%;
    z-index: -2;" src="../img/research.png" alt="">
                <p style="padding-top:20px;font-size: 15px;">
                    منذ 4 اسابيع
                </p>
            </div>

            <div class="cell">
                <p style="padding-top:20px;font-size: 19px;">
                    <img class"research" style="position: absolute;
    border: 0;
    border-radius: 0;
    width: 50%;
    margin: inherit;
    height: 60%;
    z-index: -2;" src="../img/evaluation.png" alt="">
                    التقييم
                </p>
                <div class="rate"><img src="../img/285661_star_icon.png"><img src="../img/285661_star_icon.png"><img
                        src="../img/285661_star_icon.png"><img src="../img/285661_star_icon.png"><img
                        src="../img/1976054_fav_favorite_favorites_love_star_icon.png">
                    <p>(130)</p>
                </div>
            </div>
            <div class="cell">
                <p style="padding-top:20px;font-size: 19px;">
                    <img class="research"
                        style="position: absolute;border: 0;border-radius: 0;width: 74%;margin: inherit; height: 70%;z-index: -2;"
                        src="../img/reward.png" alt="">
                    ترتيب اليوم/كل الايام
                </p>
                <span class="cont">
                    <div class="rate1" style="direction:ltr!important"><img src="../img/military-rank.png">
                        <p>4</p>
                        <h4>الرتبه في كل الايام</h4>
                    </div>
                    <div class="rate1" style="direction:rtl">
                        <p>4</p>
                        <h4 class="rank">ترتيب اليوم</h4><img src="../img/military-rank.png">
                    </div>
                </span>
            </div>

        </div>
    </div>
    <p style="text-align: center;margin-top:70px;font-size:19px">معلومات عن المثقف</p>
    <div class="activity">
        <span class="quot">
            <img class="quotimg" src="../img/quotes.png" alt="">
            <p>(2)الاقتباسات</p>
        </span>
        <span class="rev">
            <img class="revimg" src="../img/research.png" alt="">
            <p>(2)المراجعات</p>
        </span>

        <span class="book">
            <img class="bookimg" src="../img/open-book.png" alt="">
            <p>(2)الكتب</p>
        </span>
    </div>
</div>

<div id="div-container">
    <div id="div-container1"></div>
    <div id="div-container2"></div>
    <div id="div-container3"></div>
</div>


<script src="/static/js/action_Educated_community_educator_info.js"></script>
<script src="/static/js/EducatorInfo_educator_info.js"></script>
{% endblock %}