{% extends 'Home.html' %}

{% block title %} Manager author {% endblock %}

{% block content %}

<div class="wrapper">
  <div class="sidebar">
    <h2>Admin Page</h2>
    <ul>
      <li><a href="{{url_for('home_pages')}}" target="_blank"><i class="fas fa-home"></i>Home</a></li>
      <li><a target="_blank" href="{{url_for('manage_users')}}"><i class="fas fa-user"></i>Manage user</a>
      </li>
      <li><a target="_blank" href="{{url_for('manage_book')}}"><i class="fas fa-user"></i>Manage Books</a>
      </li>
      <li><a href="{{url_for('manage_authors')}}"><i class="fas fa-user"></i>Manage Author</a>
      </li>
      <li><a target="_blank" href="{{url_for('home_pages')}}"><i class='fa fa-wpexplorer'></i> Noor library
              Website</a></li>
      <li><a href="/../login/login/login.html">
              <iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
              LOG OUT
          </a></li>
    </ul>
    <li><a target="_blank" href="{{url_for('home_pages')}}"><i class='fa fa-wpexplorer'></i> noor library Website</a></li>
    <li><a href=""><iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
        LOG OUT</a></li>
  </ul>
    <div class="social_media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
  </div>
  <div class="main_content">
    <div class="header">Welcome!! Have a nice day.</div>
    <div class="info">
      <div class="container">
        <div class="row">
          <a href=""> <button type="button" class="btn btn-primary">Add author</button></a>
          <h1 class="he23">Manage author</h1>
          <table class="table-latitude">
            <thead>

              <th>ID</th>
              <th>firstname</th>
              <th>lastname</th>
              <th>country</th>
              <th>age</th>
              <th>DOB</th>
              <th>gender</th>
              <th>image_link</th>
              <th>Number_visa</th>
              <th>cvv</th>
              <th>visa_date</th>
              <th>Edit</th>
              <th>remove</th>
            
            </thead>
            <tfoot>
              <tr>
                <td colspan=6>Contact details for the Knowledge and Development Team</td>
              </tr>
            </tfoot>
            <tbody>
                {% for row in rows %}
                <tr>
                <th>{{row.Customer_id}}</th>
                <th>{{row.firstname}}</th>
                <th>{{row.lastname}}</th>
                <td>{{row.country}}</td>
                <td>{{row.age}}</td>
                <td>{{row.DOB}}</td>
                <td>{{row.gender}}</td>
                <td>{{row.image_link}}</td>
                <td>{{row.Number_visa}}</td>
                <td>{{row.cvv}}</td>
                <td>{{row.visa_date}}</td>
                <td><a href=""><button class="button">Update</button></a></td>
                <td><a href=""><button class="button-danger">Remove</button></a></td>
              </tr>
                {% endfor %}
            
            </tbody>
           
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

{% endblock %}