<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Admin Page{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


    <link rel="stylesheet" href="/static/css/manage_post.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body>
    {% block content %}
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2 style="padding:10px ;">Noor</span>Library</h2>
        </div>
        <div class="search--notification--profile">
            <div class="search">
                <input type="text" placeholder="Search Scdule..">
                <button><i class="ri-search-2-line"></i></button>
            </div>
            <div class="notification--profile">
                <div class="picon lock">
                    <i class="ri-lock-line"></i>
                </div>
                <div class="picon bell">
                    <i class="ri-notification-2-line"></i>
                </div>
                <div class="picon chat">
                    <i class="ri-wechat-2-line"></i>
                </div>
                <div class="picon profile">
                    <img src="/static/upload/images/pic-2.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="nssn">
        <div class="wrapper">
            <div class="sidebar">
                <h2>Admin Page</h2>
                <ul>
                    <li><a href="{{url_for('admin_pages')}}" target="_blank"><i class="fas fa-home"></i>Home</a></li>
                    <li><a target="_blank" href="{{url_for('manage_user')}}"><i class="fas fa-user"></i>Manage user</a></li>
                    <li><a target="_blank" href="{{url_for('manage_books')}}"><i class="fas fa-user"></i>Manage Books</a></li>
                    <li><a href="{{url_for('manage_author')}}"><i class="fas fa-user"></i>Manage author</a>
                    </li>
                    <li><a target="_blank" href="{{url_for('home_pages')}}"><i class='fa fa-wpexplorer'></i> Noor library Website</a></li>
                    <li><a href="{{url_for('login_page')}}"><iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
                        LOG OUT</a></li>
                  </ul>
                  <!-- <li><a target="_blank" href="{{url_for('home_pages')}}"><i class='fa fa-wpexplorer'></i> noor library Website</a></li>
                  <li><a href=""><iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
                      LOG OUT</a></li>
                </ul> -->
                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>



        <section class="main">
            <div class="main--content">
                <div class="overview">
                    <div class="title">
                        <h2 class="section--title" style="color:rgba(240, 248, 255, 0.644) ;">Overview</h2>

                    </div>
                    <div class="cards">
                        <div class="card card-1">
                            <div class="card--data">
                                <div class="card--content">
                                    <h5 class="card--title">Net Earnings</h5>
                                    <h1>152</h1>
                                </div>
                                <iconify-icon inline icon="akar-icons:money" width="80" height="80"></iconify-icon>


                            </div>
                            <div class="card--stats">
                                <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>65%</span>
                                <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>10</span>
                                <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>2</span>
                            </div>
                        </div>
                        <div class="card card-2">
                            <div class="card--data">
                                <div class="card--content">
                                    <h5 class="card--title">New Customer</h5>
                                    <h1>1145</h1>
                                </div>
                                <i class="ri-user-line card--icon--lg"></i>
                            </div>
                            <div class="card--stats">
                                <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>82%</span>
                                <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>230</span>
                                <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>45</span>
                            </div>
                        </div>
        
                        <div class="card card-4">
                            <div class="card--data">
                                <div class="card--content">
                                    <h5 class="card--title">book bought</h5>
                                    <h1>15</h1>
                                </div>
                                <iconify-icon inline icon="ic:twotone-done" width="80" height="80"></iconify-icon>

                            </div>
                            <div class="card--stats">
                                <span><i class="ri-bar-chart-fill card--icon stat--icon"></i>8%</span>
                                <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>11</span>
                                <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="doctors">
                    <div class="title">
                        <h2 class="section--title" style="color:rgba(250, 235, 215, 0.432) ;">common users</h2>
                        <div class="doctors--right--btns">
                            <!-- <select name="date" id="date" class="dropdown doctor--filter">
                                <option>Filter</option>
                                <option value="free">Free</option>
                                <option value="scheduled">Scheduled</option>
                            </select> -->
                            <a href="/template/add and manage user/add and manage user.html" target="_blank"> <button
                                    class="add"><i class="ri-add-line"></i>Add user</button></a>
                        </div>
                    </div>
                    <div class="doctors--cards">
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/pic-1.png" alt="">
                                </div>
                            </div>
                            <p class="free">Rori James</p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/pic-2.png" alt="">
                                </div>
                            </div>
                            <p class="scheduled">Robert </p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/pic-3.png" alt="">
                                </div>
                            </div>
                            <p class="scheduled">molia Michael</p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/download1.jfif" alt="">
                                </div>
                            </div>
                            <p class="free">Gena Richard</p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/download2.jfif" alt="">
                                </div>
                            </div>
                            <p class="scheduled">Russell</p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/download3.jfif" alt="">
                                </div>
                            </div>
                            <p class="free">Vincent</p>
                        </a>
                        <a href="#" class="doctor--card">
                            <div class="img--box--cover">
                                <div class="img--box">
                                    <img src="/static/upload/images/5download.jfif" alt="">
                                </div>
                            </div>
                            <p class="scheduled">Randy</p>
                        </a>
                    </div>
                </div>
                <div class="recent--patients">
                    <div class="title">
                        <h2 class="section--title" style="color:rgba(240, 248, 255, 0.658) ;">Recent orders</h2>
                        <a href="/template/add and manage posts/add and manage Post.html"> <button class="add"><i
                                    class="ri-add-line"></i>Add new order</button></a>
                    </div>
                    <div class="table">

                        <table class="table-latitude">
                            <thead>

                                <th>nameBook</th>
                                <th>Amount</th>
                                <th>total price</th>
                                <th>address</th>
                                <th>name of person</th>
                                <th>ID</th>
                                <th>status</th>
                                <th>Edit</th>
                                <th>remove</th>
                            </thead>
                            <!-- <tfoot>
                                <tr>
                                    <td colspan=8>Contact details for the Knowledge and Development Team</td>
                                </tr>
                            </tfoot> -->
                            <tbody>
                                <th>nameBook</th>
                                <th>Amount</th>
                                <th>total price</th>
                                <th>address</th>
                                <th>name of person</th>
                                <th>ID</th>
                                <th>status</th>
                                <th>Edit</th>
                                <th>remove</th>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
        {% endblock %}
</body>

</html>