{% extends 'base_layout.html' %}

{% block content %}


<!-- header end -->
<!-- search start -->
<div class="search-section">
    <div class="container">
        <div class="welcome">
            <h1>مكتبة النور للكتب الالكترونيه</h1>
            <h3>محرك بحث للكتب بالذكاء الاصطناعي</h3>
        </div>
        <div class="form-con">

            <form class="d-flex" role="search" method="POST" action="{{url_for('search_book')}}">
                <input class="form-control me-2" type="search" name="search" style="
                text-align: center;
                font: small-caption;" placeholder="ابحث عن ما تريده في عالم الكتب" aria-label="Search">
                <button style="background-color: #45b09e;
                color: white;
                width: 100px;
                border-radius: 10px;
                padding: 6px;
                margin: 10px;
                transition-duration: 0.4s;
                cursor: pointer;" class="button121" type="submit">ابحث</button>
            </form>
        </div>

        <div class="famous">
            <a href="">الاشهر اليوم</a>
            <a href="">اشهر الكتب</a>
            <a href="">احدث الكتب</a>
        </div>

    </div>
</div>
<!-- search end -->

<!-- about Us start -->
<div class="about">
    <div class="container">
        <div class="box">
            <img src="/static/upload/images/bix2.png" alt="logo">
            <div class="info">
                <h2> زائر شهرياً</h2>
                <p>يزور موقعنا اكثر من 6 مليون زائر مهتم بالكتب العربية شهرياً حول العالم </p>
            </div>
        </div>
        <div class="box">
            <img src="/static/upload/images/box1.png" alt="">
            <div class="info">
                <h2>عملية بحث يومياً </h2>
                <p>أكثر من 40 ألف عملية بحث عن كتاب عربي تحدث يومياً على مكتبة نور </p>
            </div>
        </div>
        <div class="box">
            <img src="/static/upload/images/box3.png" alt="">
            <div class="info">
                <h2> كتاب</h2>
                <p>آلاف الكتب المنشورة على المكتبة منها ما نشره المؤلف بنفسه أو فريق المكتبة </p>
            </div>
        </div>
        <div class="box">
            <img src="/static/upload/images/author.png" alt="">
            <div class="info">
                <h2> مؤلف </h2>
                <p>تهدف مكتبة إلى إنشاء أكبر قاعدة بيانات لمؤلفين الكتب العربية عبر التاريخ </p>
            </div>
        </div>
    </div>
</div>
<!-- about Us End -->

<!-- content start  -->
<div class="content">
    <div class="container">
        <div class="sidebar">
            <h3>اقسام الكتب</h3>
            <ul>
                {% for i in rows2 %}
                <li> <i class="fa-solid fa-book"></i>{{i.name_parts}}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="mainContent">

            <div class="contentHeader">

                <div class="box">
                    <img src="/static/upload/images/book2.png" alt="">
                    <h3>احدث الكتب</h3>
                </div>

                <div class="box">
                    <img src="/static/upload/images/mostRead.png" alt="">
                    <h3>اشهر الكتب</h3>
                </div>

                <div class="box">
                    <img src="/static/upload/images/book3.png" alt="">
                    <h3>الاشهر اليوم</h3>
                </div>
            </div>
            <div class="books">
                <!-- *************************************** -->
                {% for row in rows %}
                <div class="card">
                    <div class="rate">
                        {% for i in range(0, row.rate) %}
                        <i class="fa-sharp fa-solid fa-star"></i>
                        {% endfor %}
                    </div>
                    <div class="image">
                        <img src="{{url_for('static', filename= 'upload/images/' + row.link)}}" alt="logo">
                    </div>
                    <div class="text">
                        <h2>{{row.book_name}}</h2>
                        <p>date: {{row.book_date}}</p>
                        <p>price: {{row.price}} $</p>
                    </div>
                    <a href="{{url_for('Details_of_books' , id_book=row.book_id)}}">
                        <div class="info">
                            <h3>تفاصيل الكتاب</h3>
                            <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- ********************************************** -->
        </div>
    </div>
</div>
</div>
</div>

<!-- content Ends  -->



<!-- footer Start  -->

<!-- footer Ends  -->
{% endblock %}