{% extends 'Home.html' %}

{% block title %} Manager user {% endblock %}

{% block content %}

<div class="wrapper">
  <div class="sidebar">
    <h2>Admin Page</h2>
    <ul>
      <li><a href="{{url_for('admin_pages')}}" target="_blank"><i class="fas fa-home"></i>Home</a></li>
      <li><a target="_blank" href="{{url_for('manage_user')}}"><i class="fas fa-user"></i>Manage user</a></li>
      <li><a target="_blank" href="{{url_for('manage_books')}}"><i class="fas fa-user"></i>Manage Books</a></li>
      <li><a href="{{url_for('manage_author')}}"><i class="fas fa-user"></i>Manage author</a>
      </li>
      <li><a target="_blank" href="{{url_for('home_pages')}}"><i class='fa fa-wpexplorer'></i> Noor library Website</a>
      </li>
      <li><a href="{{url_for('login_page')}}"><iconify-icon icon="bx:log-out" width="29" height="20"></iconify-icon>
          LOG OUT</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="main_content">
    <div class="header">Welcome!! Have a nice day.</div>
    <div class="info">
      <div class="container">
        <div class="row">
          <a href="{{url_for('add_user')}}"> <button type="button" class="btn btn-primary">Add User</button></a>
          <h1 class="he23">Manage User</h1>
          <table class="table-latitude">
            <thead>
              <th>Customer_id</th>
              <th>customer_name</th>
              <th>country</th>
              <th>gender</th>
              <th>age</th>
              <th>cust_year</th>
              <th>cust_month</th>
              <th>cust_day</th>
              <th>Number_visa</th>
              <th>cvv</th>
              <th>visa_date</th>
              <th>email</th>
              <th>password_user</th>
              <th>Edit</th>
              <th>remove</th>

            </thead>
            <tfoot>
              <tr>
                <td colspan=6>Contact details for the Knowledge and Development Team</td>
              </tr>
            </tfoot>
            <tbody>
              {% for row in rows %}
              <tr>
                <th>{{row.Customer_id}}</th>
                <th>{{row.customer_name}}</th>
                <th>{{row.country}}</th>
                <td>{{row.gender}}</td>
                <td>{{row.age}}</td>
                <td>{{row.cust_year}}</td>
                <td>{{row.cust_month}}</td>
                <td>{{row.cust_day}}</td>
                <th>{{row.Number_visa}}</th>
                <th>{{row.cvv}}</th>
                <th>{{row.visa_date}}</th>
                <th>{{row.email}}</th>
                <th>{{row.password_user}}</th>
                <td><a href="/update_user/{{row.Customer_id}}"><button class="button">Update</button></a></td>
                <td><a href="/remove_user/{{row.Customer_id}}"><button class="button-danger">Remove</button></a></td>
              </tr>
              {% endfor %}

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

{% endblock %}