<!Doctype html>
<html>
    <head>
        <meta charset="UFT-8"/>
        <meta name="viewport" content="width=device-width , initial-scale =1.0"/>
        <!-- <link rel="stylesheet" href="../CSS/all.min.css">
        <link rel="stylesheet" href="../CSS/normalize.css">
        <link rel="stylesheet" href="../CSS/new.css"> -->

        <!-- ************************************************** -->
        <link rel="stylesheet" href="{{url_for('static' , filename= 'css/all.min_page_sections_quotations.css')}}">
        <link rel="stylesheet" href="{{url_for('static' , filename= 'css/normalize_page_sections_quotations.css')}}">
        <link rel="stylesheet" href="{{url_for('static' , filename= 'css/new_quotations.css')}}">


        <!-- /****************************************** -->
        <title>اقتباسات الكتب - مكتبة نور</title>
    </head>
    <body>
    <!--start header -->
    <div class="header">
        <div class="container">
            <div class="settings">
                <img class='avatar' src="/static/upload/images/avatar-05.png" alt="">
                <div class="settingsMenu">
                    <div class="settingsheader">
                        <img src="/static/upload/images/avatar-05.png" alt="">
                        <p>Mohamed Elagamy</p>
                    </div>
                    <!-- *********************************** -->
                    <ul class="info">
                        <li style="color: #45b09e;"> <a href="{{url_for('user_informations')}}"
                                style="color: #45b09e;"><i class="fa-solid fa-gear"></i>الاعدادات</a> </li>
                        <a href="{{url_for('login_page')}}">
                            <li><i class="fa-solid fa-door-open"></i> تسجبل الخروج</li>
                        </a>
                    </ul>
                    <!-- ************************************ -->

                </div>
            </div>
            <ul class="main-nav">

                <li class="hid"><a href="{{url_for('home_pages')}}"> <i
                    class="fa-solid fa-house-chimney"></i>الرئيسيه</a>
        </li>
        <li class="hid"> <a href="{{url_for('authors_page')}}"><i class="fa-sharp fa-solid fa-users"></i>مؤلفو
                الكتب </a> </li>
        <li class="hid"><a href="{{url_for('sections_page')}}"><i class="fa-solid fa-network-wired"></i>اقسام
                الكتب</a> </li>
        <li class="spec">
                    <!-- Start megamanu     -->
                    <a class="mainLink" href="#" id="test"> <i class="fa-solid fa-bars"></i>القائمه</a>
                    <!-- Start megamanu     -->
                    <div class="menu" id="megaMenu">

                        <ul class="links">
                            <li>
                                <a href="{{url_for('sections_page')}}"><i class="fa-solid fa-network-wired"></i>اقسام
                                    الكتب</a>
                            </li>

                            <li>
                                <a href="{{url_for('authors_page')}}"><i class="fa-sharp fa-solid fa-users"></i>مؤلفو
                                    الكتب </a>
                            </li>

                            <li>
                                <a href="{{url_for('quotations_page')}}"><i
                                        class="fa-solid fa-quote-left"></i>اقتباسات</a>
                            </li>
                            <!-- <li>
                                <a href="{{url_for('Educated_community')}}"><i
                                        class="fa-solid fa-sociate-left"></i>مجتمع المثقفين</a>
                            </li> -->

                            <!-- <li>
                                <a href="{{url_for('reviews_page')}}"><i class="fa-solid fa-star"></i>مراجعات</a>
                            </li> -->
                        </ul>

                    </div>
                    <!-- End megamanu     -->

                </li>
            </ul>
            <a href="{{url_for('home_pages')}}" class="logo"> <img src="/static/upload/images/main.svg" style="width: 60px;
                margin: 20px auto;" alt="logo"></a>
        </div>
    </div>
    <!-- header end --> 

    <!--Start main content-->
    <h1 class="adders" style="position: relative; top: 65px; text-align: right;margin-right: 30px; line-height:1.3;margin-top: 74px;">اقتباسات</h1>
        <div class="content">
            <div class="container">
                <div class="sidebar">
                    <h3>اقسام الكتب</h3>
                    <ul>
                    {% for sec in data1 %}
                        <li> <a href=""><i class="fa-solid fa-book"></i>{{sec.part_sections}}</a></li>
                    {% endfor %}
                    </ul>
    
                </div>
                    <div class="contain" style="transform: none; display: contents;"> 
                        <!-- ي البلوك الاساسي و book-reslut دي بداية بلوك الاقتباسات كلهاو ال-->
                        <section>
                            <div class="book-reslut" style="transform: none;">
                            <div class="row" style="transform: none;">
                                <div class="colum">
                                    <div class="row book_row">
                                        <!-- الاقتباساتdivديresult -->
                                        {% for qt in qutes %}
                                        <div class="result">
                                            <div quote_id="13333" class="single-quote quote_id_13333">
                                                <div class="quote-content text-center">
                                                    <div class="opacity_background_quote">
                                                        <div class="quote-content-child">
                                                            <i class="fa fa-quote-left fa-flip-horizontal"></i>
                                                            <span class="more" style="display:inline;">
                                                                    {{qt.Quato}}
                                                            </span>
                                                            <i class="fa fa-quote-left fa-flip-horizontal"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quote_bottom_btns">
                                                    {% for ww in cust1 %}
                                                    <a href=""class="quote_adder pull-left"><img loading="lazy" class="img-circle" height="25" width="25" src="{{url_for('static' , filename='upload/images/'+ww.image_file)}}" > {{ww.customer_name}}</a>
                                                    {% endfor %}
                                                    <a href="" class="quote_book_title pull-right">
                                                        <i class="fa fa-book" style="margin-right: 10px;"></i>
                                                        {% for aa in auth1 %}
                                                        <span>{{auth1.name_author}}</span>
                                                        {% endfor %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!--End الاقتباسات-->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </section>
                        <!-- ي البلوك الاساسي و book-reslut دي نهاية بلوك الاقتباسات كلهاو ال-->
                    </div>
                
            </div>
        </div>
    <!--End main content-->

    <!--start side list-->
        
    <!--end side list-->
        <script src="/static/js/action_page_sections_quotations.js"></script>
    </body>
</html>